<html>
<head>
  <link rel="stylesheet" href="main.css">
</head>
<body>
<h2>Add New Post</h2>

<form action="/new" method="POST" role="form">

  <div class="form-group">
    <textarea class="form-control" rows="5" name="content" placeholder="Ну давай, что накипело?"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">YARRR!</button>
</form>

</body>
</html>